*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 400;
}
body{
    margin: 0;
    
}
header{
    height: 5%;
    width: 100%;
    background-color: #DAC0A3;
    color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 0 30px 0 #0007;

}

nav {
    display: grid;
    grid-template-columns: repeat(5, 23%);
    width: 100%;
    background-color: #DAC0A3;
    justify-content: space-around;
}
nav a {
    color: #303030;
    text-align: center;
    text-decoration: none; 
    font-size: 1rem; 
    font-weight: 400;
    padding: 10px 0; 
    border-bottom: 2px solid transparent; 
    transition: border-bottom 0.3s; 
}

nav a:hover {
    border-bottom: 2px solid #303030; 
}

.link{
    color: blue;
}


.cara{
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: auto;
}
.uno{
    margin: 1% auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    /* background-color: #EADBC8; */
    background: linear-gradient(#DAC0A3,#fffefd);
    color: white;  
}
.caja-central{
    margin-top: 10%; 
    width: 80%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    height: auto;
    box-shadow: 0 0 30px 0 #0007;
}
.caja-cara{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    background-color: #424242;
    padding: 2%;
}
.caja-presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #F2F2F2;
    color: #303030;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 #0007;    padding: 10px;

}
p.presentacion{
    font-size: 16px;
    line-height: 1.5;
}

.button{
    background-color: #EADBC8;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    padding: 1rem 2rem;
    cursor: pointer;
}
.button a{
    color: black;
    text-decoration: none;
}

.dos{
    background-color: #fffefd;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #303030;
    
}


.accordion-item {
    width: 50%;
    margin: auto;
    border: 1px solid #80604430;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f8f8f8;
    
}


.skills-container {
    border-radius: 15px;
    text-align: center;
    background-color: #EADBC8;
    width: 80%;
    margin: 20px 0;
    box-shadow: 0 0 30px 0 #0007;
}

.skills-container h2{
    font-weight: 400;
}

.Educacion{
    font-weight: 400;
}
#Cursos_realizados{
    font-weight: 400;
}
#Mis_Proyectos{
    font-weight: 400;
}

.skills-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

.skills-img img {
    width: 80px;
    height: 80px;
    margin: 5px;
    transition: filter 0.3s ease;
}
.skills-img img:hover {
    filter: brightness(140%); 
}




.dos div h2{
    margin: 1%;
}
.accordion-header {
    background-color: #DAC0A3;
    color: #000000;
    box-shadow: 0 0 30px 0 #0007;    padding: 10px;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 1;
}

.accordion-content {
    overflow-y: auto;
    padding-bottom: 10px;
}

details{
    border: 1px solid black;
}

.tech-list{
    display: grid;
    grid-template-columns: repeat(3,30%); 
    gap:10px 10px;
}

.tech{
    height: 100px;
}

.tres{
    /* background-color: #EADBC8; */
    background: linear-gradient(#fffefd,#DAC0A3);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F2F2F2;
    box-shadow: 0 0 30px 0 #0007;
    

}

.tres h2{
    color:#424242;
    margin: 8px;
}
.proyectos{
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;}
    
.card {
    width: 18rem;
    text-align: center;
    border: solid #424242 1px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 #0007;
    margin: 1%;
    display: flex;
    
    }

.card img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card a, footer a {
    color: blue;  
}
.card h3, p{
    color: #424242;
}


.red-social{
    height: 60px;
    background-color: #F2F2F2;
    border-radius: 10px;
}


footer{
    background-color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #F2F2F2;
    box-shadow: 0 0 30px 0 #0007;

}
footer p{
    color: white;
} 
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0px;
    width: 230px;
    height: 350px;
    gap: 20px;
    margin-right: -150px;
}

.contacto img{
    height: 100%;
    width: 16%;
    
}




@media (min-width : 425px) {
    .proyectos{
        width: auto;
        display: flex;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;}

    .card {
        width: 90%; /* Adjust the card width to fit smaller screens */
        margin: 10px 0; /* Adjust margins for better spacing */
        display: flex;
        flex-direction: column;
    }
}