body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 5%;
    width: 100%;
    background-color: #DAC0A3;
    color: #303030;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 0 30px 0 #0007;

}

nav {
    display: grid;
    grid-template-columns: repeat(5, 15%);
    gap: 26px;
    height: 100%;
    width: 100%;
    background-color: #DAC0A3;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: #303030;
    text-align: center;
    text-decoration: none; 
    font-size: 18px; 
    font-weight: bold; 
    padding: 10px 0; 
    border-bottom: 2px solid transparent; 
    transition: border-bottom 0.3s; 
}

nav a:hover {
    border-bottom: 2px solid #303030; 
}

.link{
    color: blue;
}


.cara{
    border-radius: 500px;
    height: 50%;
}
.uno{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 65px);
    /* background-color: #EADBC8; */
    background: linear-gradient(#DAC0A3,#fffefd);
    color: white;
    
    
}
.caja-central{
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    height: 50%;
    box-shadow: 0 0 30px 0 #0007;
    margin: 15% auto;
}
.caja-cara{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 350px;
    background-color: #424242;
    margin: -4% auto;

}
.caja-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(80vw - 425px);
    height: 400px;
    background-color: #F2F2F2;
    color: #303030;
    padding: 0;
    
    
}
p.presentacion{
    font-size: 16px;
    margin: -35% auto;
    padding: auto;
    text-align: center;
}

.dos{
    background-color: #F2F2F2;
    height: 100%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #303030;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}
.aptitudes{
    width: 50%;
    
}

.accordion-item {
    width: 50%;
    margin: auto;
    border: 1px solid #80604430;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f8f8f8;
    
}


.skills-container {
    border-radius: 15px;
    text-align: center;
    background-color: #EADBC8;
    width: 85%;
    height: 430px;
    position: relative; 
    box-shadow: 0 0 30px 0 #0007;
}

.skills-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 200px; 
    margin-top: 10px; 
    margin-bottom: 10px;
}

.skills-img img {
    width: 80px;
    height: 80px;
    margin: 5px;
    transition: filter 0.3s ease;
}
.skills-img img:hover {
    filter: brightness(140%); 
}




.dos div h2{
    margin: 1%;
}
.accordion-header {
    background-color: #DAC0A3;
    color: #000000;
    box-shadow: 0 0 30px 0 #0007;    padding: 10px;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 1;
}

.accordion-content {
    overflow-y: auto;
    padding-bottom: 10px;
}

details{
    border: 1px solid black;
}

.tech-list{
    display: grid;
    grid-template-columns: repeat(3,30%); 
    gap:10px 10px;
}

.tech{
    height: 100px;
}

.tres{
    background: linear-gradient(#fffefd,#DAC0A3);
    height: 20%;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #F2F2F2;
    box-shadow: 0 0 30px 0 #0007;

}

.tres h2{
    color:#424242;
    margin: 8px;
}
.proyectos{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.card{
    text-align: center;
    width: 25%;
    border: solid #424242 1px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 30px 0 #0007;
    margin: 4% auto;
}
.card img{
    width: 100%;
}
.card a, footer a {
    color: blue;  
}
.card h3, p{
    color: #424242;
}

.red-social{
    height: 60px;
    background-color: #F2F2F2;
    border-radius: 10px;
}




footer{
    background-color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #F2F2F2;
    box-shadow: 0 0 30px 0 #0007;

}
footer p{
    color: white;
} 
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0px;
    width: 230px;
    height: 350px;
    gap: 20px;
    margin-right: -150px;
}

.contacto img{
    height: 100%;
    width: 16%;
    
}


@media (max-width: 1000px) {
    .caja-central{
        width: 90%;
        height: 70%;
        flex-direction: column;
    }
    .caja-cara{
        width: 100%;
        height: 50%;
    }
    .caja-presentacion{
        width: 100%;
        height: 70%;
        align-items: flex-start;
    }
    .aptitudes{
        width: auto;
    }
    .dos{
        height: auto;
        padding: 0 10px 10px 10px;

    }
    .tres{
        height: auto;
        
    }
    .proyectos{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .card{
        width: 80%;
        margin-top: 20px;
    }
    .red-social{
        margin: 0 10px 0 10px;
    }
}